[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
django-crispy-forms = "*"
python-decouple = "*"
django-extensions = "*"
django-autoslug = "*"
pillow = "*"
django-active-link = "*"

[dev-packages]

[requires]
python_version = "3.9"
