{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom  mb-5 bg-white rounded fixed-top py-3">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'image/logo3.svg' %}" alt="Logo" height="50px" width="250px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link space" aria-current="page" href="{% url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link space " href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link space" href="#">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link space" href="#"><i class="fas fa-search"></i> Discover</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">

        {% if user.is_authenticated %}
        <li class="nav-item dropdown px-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-user "></i> Hello! {{ user.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'edit' %}">Edit Details</a></li>
            <li><a class="dropdown-item" href="#">Change password</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>

        {% else %}


        <li class="nav-item">
          <a class="nav-link" href="{% url 'login'%}"><button class="btn">Log in</button> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'register'%}"><button class=" btn btn-primary sign-btn">Sign up</button></a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>

</nav>