/* 

font-family: 'Lato', sans-serif;
font-family: 'Inter', sans-serif;
*/
* {
  box-sizing: border-box;
}

body {
  Font-Family: 'Nunito', Sans-Serif;
  Font-Size: 16px;
  }

h1, h2, h3, h4, h5, h6 {
  Font-Family: 'Libre Baskerville', Serif;
  }

a{
    text-decoration: none;
}

.navbar {
    transition: all 0.4s;
  }

  
.navbar .nav-link {
    color: #fff;
    font-weight: 600;
    }

  .space{
    margin-right: 28px;
  }

 
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Change navbar styling on scroll  */
  .navbar.active {
    background: #FFFEFE;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar.active .nav-link {
    color: #555;
  }
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
  }
  
  .navbar.active .navbar-brand {
    color: #555;
  }
  
  .btn.btn-info.rounded.py-2.btn-block {
    margin-top: 20px;
  }
  
  .btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}
  

  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: none;
    color: rgba(0, 0, 0, .5);
    border: none;
  }

  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    border: none;
  }
  
  .padding.px-4.px-lg-0.bg-light {
    padding-top: 50px;
  }
  
  .paddingDetail {
    padding-top: 60px;
  }
  
  .navbar-brand.brand-style {
    color: #555;
  }

  
  @media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.search-bar{
  background: #fff;
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 10%);
  padding: .6125rem .6125rem;
}

.shadow-0 {
  box-shadow: none !important;
}

.rounded {
    border-radius: 0.4rem !important;
}

@media (max-width: 576px) {
  .search-btn{
    width: 100%;
    
  }

}

  
  .hero h1 {
    font-size: 3.45rem;
    line-height: 5rem;
    font-weight: 800;
  }


  @media (max-width: 1024px) {  
    .hero h1{
      font-size: 2.125rem;
      line-height: 3rem;
    }
  
    .hero p{
      font-size: 16px;
    }
    
  }
/* 
  .back{
    background: url(../image/home-bg.jpg) no-repeat;
    background-size: cover;
    justify-content: center;
  }
   */
  
  .input-box{
    height: 46px;
  }


  .login-wrap{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .login-form{
    width: 440px;
  }

  button#toggle-password {
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 9;
    width: 28px;
    height: 30px;
    background: 0;
    border: 0;
  }
  
 
  /* recipe page */

  .allrecipes{
    /* maybe F9F8F9 */
    background: #FAF8EE;
    border-top: 0.1px solid #3d7ca7;
  }

  .all_title{
    color: #1B4D7A;
  }

  .card, .card-header, .card-body, .card-footer{
    border-radius:0px !important;
}
  .allrecipes a{
    color: #000!important;
  }

  .recipe_category{
    font-weight: 400;
    color: #1B4D7A;
  }

  .crumbs{
    color: #0191C1;
  }

  .allrecipes .card:hover {
    transform: scale(1.04);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    box-shadow: 6px 6px 0px 0px #26B7C5;
    transition: all 0.2s;
  }

  .top-heading{
    border-left: 3px solid #3275A2;
    padding: 1rem 0 0.5rem 2rem;
  }

  .recipes .breadcrumb-box{
    padding: 1rem 0 0 0.5rem;
  }


  .category-name{
    font-size: 1.125rem;
    color: #1B4C7B;
    line-height: 1.8;
    text-decoration: underline;

  }

  .category-name:hover{
    text-decoration: none;
  }

  .recipe_des {
    margin-top: 40px;
  }

  .btn-link{
    color: #1c5b96;
    font-weight: 600;
  }

  .btn-link:hover{
    text-decoration: none;
    color: #388cda;
  }

  /* recipe details */

  .details{
    margin-top: 60px;
  }

   
  /* search */

  .searchrecipes{
    /* maybe F9F8F9 */
    background: #F9F8F9;
  }

  .searchrecipes a{
    color: #000!important;
  }

  .search {
    position: relative;
    
}

.search-box{
  margin-top: 50px;
}

.search input {
    height: 55px;
    text-indent: 35px;
}

.search input:focus {
    box-shadow: none;
}

.search .fa-search {
    position: absolute;
    top: 19px;
    left: 16px;
}