{% extends 'base/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'base/navbar.html' %}


<div class="container mt-4">
        <div class="login-wrap">
            <form class="login-form" method="post">
                {% csrf_token %}
                <div class=" text-center mt-4">
                    <img src="{% static 'image/logo2.svg' %}" alt="logo" class="logo_img mx-auto mt-5">
                </div>

                <h2 class="mb-4 mt-4 ">Log In to Your Account</h2>
                {% if messages %}
                  {% for message in messages%}
                  <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
                {% endif %}
                
                {{ form|crispy }}

                <!-- <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password">
                </div> -->
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="togglePassword">
                  <label class="form-check-label" for="exampleCheck1">Show Password</label>
                </div>
                
                <button type="submit" class="btn btn-primary py-2  mt-2 fw-bold w-100">Log in</button>
                <hr class="mb-3">
                <!-- forget password -->
                <p class="small font-weight-bold mt-3">
                  <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </p>
                <!-- register a new account -->
                <p class="small font-weight-bold mt-1 pb-3">Don't have an account? 
                  <a href="{% url 'register' %}">Create one.</a>
                </p>
              </form>
        </div>
</div>



{% endblock content %}