{% extends 'base/main.html' %}
{% load static %}
{% block content %}

{% include 'base/navbar.html' %}



<div class="container">
    <div class=" text-center mt-5">
        <img src="{% static 'image/logo2.svg' %}" alt="logo" class="logo_img mx-auto mt-5">
    </div>

    <div class="text-center pt-4">
        <h3 class="mb-3 fw-bold">Password Changed</h3>
        <p class="mb-4">Your password has been successfully changed.</p>
    </div>

    <p class="lead text-center pt-4">
        <a href="{% url 'login' %}">Log-in?</a>
    </p>


</div>





{% endblock content %}