{% extends 'base/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% include 'base/navbar.html' %}

    <div class="container">
    
        <div class="login-wrap">
            <form class="login-form" method="post">
                {% csrf_token %}
                <div class=" text-center mt-4">
                    <img src="{% static 'image/logo2.svg' %}" alt="logo" class="logo_img mx-auto mt-2">
                </div>
    
                <h2 class="font-weight-bold mt-4 ">Create an Account</h2>
                <p class="mb-4">It's free and only takes a minute.</p>
                {% if messages %}
                  {% for message in messages%}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
                {% endif %}
                
                
    
                {{ form|crispy }}

                
    
                <button type="submit" class="btn btn-primary py-2  mt-2 w-100 fw-bold">Create account</button>

                <hr class="mb-3">
                <!-- login if account is existing -->
                <p class="small font-weight-bold mt-3  pb-3">Already a member?
                  <a href="{% url 'login' %}"> Sign in.</a>
                </p>
              </form>
        </div>
    </div>
    



{% endblock content %}