{% extends 'base/main.html' %}
{% load static %}
{% block content %}

{% include 'base/navbar.html' %}

<style>
  .link_days a{
      color: #000;
    }

  .link_days h6{
    color: #1B4C7B;
  }

    .list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
}

.card{
    border-radius: 1rem!important;
}

hr{
  margin: -0.5rem 0;
}

.image-resize{
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.active-box{
  border-top: 2px solid #1B4C7B;
}

.bg{
  color: #1B4C7B;
  font-weight: 700; 
}

  
</style>


<section class="recipes mt-5">
    <div class="container py-5">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="top-heading">
              <h1 class="disply-3 fw-bold mb-4">My Meal Plan</h1>
              <p>Organize your meals on a weekly basis with My Perfect Plate. Create your very own meal plan just for you.</p>
            </div>
            </div>
        </div>
    </div>
</section>


<section>
  <div class="container mt-4">
    <h2><i class="fa-regular fa-calendar"></i> {% now "F" %}, {% now "Y" %}</h2>
    <div class="row">
      {% for day in days %}
      <div class="col mt-4">
        <div class="card {% if day.slug in request.path %} border-2 border-secondary {% endif %} pb-4">
          <div class="card-title link_days mt-2">
            <a href="{% url 'filterdays' day.slug %}" class="{% if day.slug in request.path %} active-box {% endif %} ">
            <p class="{% if day.slug in request.path %} bg fw-bold {% endif %} text-center">Day {{day.id}}</p> 
            <hr>
          </div>   
          <div class="card-body link_days  pt-5">
            <h6 class="{% if day.slug in request.path %} bg {% endif %} text-center">{{day.days}}</h6>
          </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>
</section>


<section>
  <div class="container">
    <hr class="mt-5 mb-3">
      <div class="row g-5">
        <!-- <h4 class="mt-3">Plans for {{individual_day.days}} </h4> -->
        {% for recipe in recipe_list %}
        <div class="col-md-3">
          <div class="card my-1">
            <img class="image-resize" src="{{recipe.image}}" alt="Card image cap">
            <div class="card-body link_days">
              <p class="fw-light">#{{recipe.category}}</p>
              <h6 class="fw-bold">{{recipe.title}}</h6>
              </div>
              <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'recipeDetails' id=recipe.id%}" class="btn m-1">View Recipe</a>
            <a href="{% url 'remove' id=recipe.id%}" class="btn ms-3"><i class="fa-solid fa-xmark me-2"></i>Remove</a>
          </div>
        </div>
        </div>
        {% empty %}
        <h4>No meal plans added</h4>
        {% endfor %}
      </div>
  </div>
</section>



<!-- <section>
  <div class="container">
    <div class="row gx-5">
      <div class="col-md-3">
      
          <h6 class="card-header link_days fw-bold p-3"> <a href="{% url 'planner' %}" >
            <i class="fa-regular fa-square-check me-2"></i> Day-wise meal plan</a>
          </h6>
          <ol class="list-group list-group-hover list-group-numbered list-group-flush">
            {% for day in days %}
            <li class="list-group-item link_days p-3">
              <a href="{% url 'filterdays' day.slug %}" >{{day.days}}</a> 
            </li>
            {% endfor %}
          </ol>
      </div>

      <div class="col-md-9">
        <h5 class="mb-5 mt-3 fw-bold">{{individual_day.days}}'s Meal Plans for {{ user.username }}</h5>
          <div class="row">
              <div class="col-md-4">
                {% for recipe in recipe_list %}
                <div class="card my-1">
                    <img class="image-thumbail" src="{{recipe.image}}" alt="Card image cap">

                    <div class="card-body">
                        <h6>{{recipe.title}}</h6>
                    </div>
                    <a href="{% url 'recipeDetails' id=recipe.id%}" class="btn btn-outline-dark btn-sm m-1">View</a>
                </div>
                
                
                {% empty %}
                <p>No meals planned for {{individual_day.days}}...</p>
                {% endfor %}
              </div>
          </div>
       
  
      </div>

      
    </div>
  </div>
</section> -->







{% endblock content %}
