{% extends 'base/main.html' %}
{% load static %}
{% block content %}
{% load static %}
{% include 'base/navbar.html' %}

<style>
    .image-resize {
        height: 230px;
        object-fit: cover;
    }
    /* .nosearch-txt{
        color: #1B4C7B;
    } */
</style>


<!-- search bar here -->
<div class="search-box py-5">
    <div class="container">
        <form method="GET" action="{% url 'search' %}">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="search"> <i class="fa fa-search me-5"></i> 
                        <input type="text" class="form-control" name="q" placeholder="Find a Recipe">  </div>
                </div>
            </div>
        </form>
    </div>
</div>



    {% if recipes %}


    <section class="searchrecipes py-5">
        <div class="container">
            <div class="title-wrap d-flex justify-content-between mb-2">
                <p class="fw-light">Got {{count_search}} matching results related to <span class="fst-italic fw-bold">"{{query}}"</span> </p>
                <!-- <p class="mt-1"><span class="fw-bold">{{recipe_count}}</span> recipes found</p> -->
            </div>
           
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-lg-3 col-md-6 py-3">
                    <a class="recipe-title" href="{% url 'recipeDetails' id=recipe.id%}">
                        <div class="card border-dark mb-2" style="height: 25rem;">
                            <img class="card-img-top border-bottom image-resize" src="{{recipe.image}}" alt="">
                            <div class="card-body">
                                <p class="recipe_category">#{{recipe.category}}</p>
    
                                <h6 class="mt-2 mb-3 recipe_title fw-bolder">{{ recipe.title }}</h6>
                                <p class="mt-5">Recipe by: {{recipe.created_by}}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>

    {% else %}
    <section class="searchrecipes py-5">
        <div class="container nosearch-txt">
            <p>Got 0 matching results related to <span class="fst-italic">"{{query}}"</span>  </p>
            <div class="searchopt mt-5 p-5 text-center">
                <h3>We searched all over but didn't find a recipe for "{{query}}"</h3>
                <p class=" mt-4">Try to search again with these tips</p>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-3">
                    <div class="box mt-4">
                        <div class="tryicon">
                        <img src="{% static 'image/correct.svg' %}" alt="check if spelling is wrong? icon">
                        <p class="fw-bold p-4">Check if the spelling is wrong?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box mt-4">
                        <div class="tryicon">
                        <img src="{% static 'image/keyword.svg' %}" alt="check if spelling is wrong? icon">
                        <p class="fw-bold p-4">Try searching with other keywords</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
       
    

    {% endif %}
</div>











{% endblock content %}